@use "colors" as *;
@use "typography" as *;

* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  // Border radius
  --border-radius-1: 0.625rem;
  --border-radius-2: 0.3125rem;
}
::selection {
  background-color: var(--purple-color);
  color: var(--white-color);
}
body {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: 1fr auto;
  font: var(--body);
  color: var(--white-color);
  background: url("../images/bg-intro-mobile.png") var(--red-color);
  @media (width > 30.25rem) {
    background-image: url("../images/bg-intro-desktop.png");
  }
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.site-content {
  width: min(69.375rem, calc(100% - 2rem));
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  container: site-content / inline-size;
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__title {
    margin-bottom: 1.5rem;
    font: var(--heading);
    letter-spacing: var(--heading-spacing);
    text-wrap: balance;
  }
  &__description {
    text-wrap: pretty;
  }
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  container: form / inline-size;
  &__trial {
    min-height: 3.75rem;
    padding: 1rem 4rem;
    border-radius: var(--border-radius-1);
    margin-bottom: 1.5rem;
    display: grid;
    place-items: center;
    font: var(--label-lg);
    text-align: center;
    text-wrap: pretty;
    background-color: var(--purple-color);
    color: var(--white-color);
    box-shadow: var(--shadow-2);
  }
  &__days {
    font: var(--label-lg-bold);
  }
  &__fields {
    padding: 2.5rem;
    border-radius: var(--border-radius-1);
    background-color: var(--white-color);
    box-shadow: var(--shadow-2);
  }
  &__input-group {
    margin-bottom: 1.25rem;
    position: relative;
    &--error {
      ::after {
        width: 1.5rem;
        height: 1.5rem;
        content: url(../images/icon-error.svg);
        position: absolute;
        top: calc(1.75rem - 0.75rem);
        right: 1.5rem;
        z-index: 999;
      }
    }
  }
  &__input {
    width: 100%;
    height: 3.5rem;
    padding: 0 1rem;
    border: 1px solid var(--light-grey-color);
    border-radius: var(--border-radius-2);
    position: relative;
    font: var(--label-md);
    color: var(--dark-grey-color);
    caret-color: var(--purple-color);
    &::placeholder {
      color: var(--dark-grey-75-color);
    }
    &:focus {
      outline: none;
      border: 1px solid var(--purple-color);
    }
    &::selection {
      background-color: var(--purple-color);
      color: var(--white-color);
    }
  }
  &__error {
    display: flex;
    justify-content: flex-end;
    font: var(--label-sm);
    color: var(--red-color);
    font-style: italic;
  }
  &__submit {
    width: 100%;
    height: 3.5rem;
    border-radius: var(--border-radius-2);
    font: var(--label-lg);
    font-weight: 600;
    text-transform: uppercase;
    background-color: var(--green-color);
    color: var(--white-color);
    box-shadow: var(--shadow-1);
    cursor: pointer;
    &:hover {
      background-color: var(--light-green-color);
    }
  }
  &__terms {
    margin-top: 0.5rem;
    font: var(--label-sm);
    text-align: center;
    color: var(--pale-grey-color);
  }
  &__link {
    font: var(--label-sm);
    font-weight: 700;
    color: var(--red-color);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}
@container form (width < 27.188rem) {
  .form {
    &__fields {
      padding: 1.5rem;
    }
  }
}
@container site-content (width < 40rem) {
  .site-content {
    &__text {
      padding: 5.5rem 0 4rem 0;
      text-align: center;
    }
  }
  .form {
    width: 100%;
    padding-bottom: 5.5rem;
  }
}
.attribution {
  padding: 1rem;
  display: grid;
  place-items: center;
  font: var(--label-sm);
  text-align: center;
  text-wrap: pretty;
  & a {
    color: var(--purple-color);
  }
}
